MobileWebService/src/main/resources/MapaIncidenciaWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MapaIncidenciaWebServiceService" targetNamespace="http://mapaincidenciasws.service.mobile.miraflores.gob.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mapaincidenciasws.service.mobile.miraflores.gob.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://mapaincidenciasws.service.mobile.miraflores.gob.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://mapaincidenciasws.service.mobile.miraflores.gob.pe/" version="1.0">

  <xs:element name="createIncidenciaInfoCambista" type="tns:createIncidenciaInfoCambista"/>

  <xs:element name="createIncidenciaInfoCambistaResponse" type="tns:createIncidenciaInfoCambistaResponse"/>

  <xs:element name="createIncidenciaVoxiva" type="tns:createIncidenciaVoxiva"/>

  <xs:element name="createIncidenciaVoxivaResponse" type="tns:createIncidenciaVoxivaResponse"/>

  <xs:complexType name="createIncidenciaVoxiva">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidencia" type="tns:incidenciaVoxiva"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="incidenciaVoxiva">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCaso" type="xs:int"/>
      <xs:element minOccurs="0" name="fechaHoraCreacion" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoCaso" type="xs:int"/>
      <xs:element minOccurs="0" name="subTipocaso" type="xs:int"/>
      <xs:element minOccurs="0" name="detalle" type="xs:string"/>
      <xs:element minOccurs="0" name="idTipoVia" type="xs:int"/>
      <xs:element minOccurs="0" name="idVia" type="xs:int"/>
      <xs:element minOccurs="0" name="numCuadra" type="xs:int"/>
      <xs:element minOccurs="0" name="longitud" type="xs:string"/>
      <xs:element minOccurs="0" name="latitud" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="securityKey" type="xs:string"/>
      <xs:element minOccurs="0" name="idDispositivo" type="xs:string"/>
      <xs:element minOccurs="0" name="idSituacion" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaHoraAtencion" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreReportaIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="direccionIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="accionesIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreRecepcionaIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="dniRecepcionaIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="nroCasoVoxiva" type="xs:string"/>
      <xs:element minOccurs="0" name="telefReportaIncidencia" type="xs:string"/>
      <xs:element minOccurs="0" name="incidenciaPresentada" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createIncidenciaVoxivaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:messageResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="messageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="success" type="xs:boolean"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createIncidenciaInfoCambista">
    <xs:sequence>
      <xs:element minOccurs="0" name="record" type="tns:incidenciaCambista"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="incidenciaCambista">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitud" type="xs:string"/>
      <xs:element minOccurs="0" name="longitud" type="xs:string"/>
      <xs:element minOccurs="0" name="numPlaca" type="xs:string"/>
      <xs:element minOccurs="0" name="numDocIdent" type="xs:string"/>
      <xs:element minOccurs="0" name="imei" type="xs:string"/>
      <xs:element minOccurs="0" name="velocidad" type="xs:decimal"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="orientacion" type="xs:decimal"/>
      <xs:element minOccurs="0" name="idAlerta" type="xs:int"/>
      <xs:element minOccurs="0" name="desAlerta" type="xs:string"/>
      <xs:element minOccurs="0" name="fecHoraRegistro" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createIncidenciaInfoCambistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:messageResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createIncidenciaVoxivaResponse">
    <wsdl:part name="parameters" element="tns:createIncidenciaVoxivaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createIncidenciaInfoCambista">
    <wsdl:part name="parameters" element="tns:createIncidenciaInfoCambista">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createIncidenciaVoxiva">
    <wsdl:part name="parameters" element="tns:createIncidenciaVoxiva">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createIncidenciaInfoCambistaResponse">
    <wsdl:part name="parameters" element="tns:createIncidenciaInfoCambistaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MapaIncidenciaWebService">
    <wsdl:operation name="createIncidenciaVoxiva">
      <wsdl:input name="createIncidenciaVoxiva" message="tns:createIncidenciaVoxiva">
    </wsdl:input>
      <wsdl:output name="createIncidenciaVoxivaResponse" message="tns:createIncidenciaVoxivaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createIncidenciaInfoCambista">
      <wsdl:input name="createIncidenciaInfoCambista" message="tns:createIncidenciaInfoCambista">
    </wsdl:input>
      <wsdl:output name="createIncidenciaInfoCambistaResponse" message="tns:createIncidenciaInfoCambistaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MapaIncidenciaWebServiceServiceSoapBinding" type="tns:MapaIncidenciaWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createIncidenciaInfoCambista">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createIncidenciaInfoCambista">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createIncidenciaInfoCambistaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createIncidenciaVoxiva">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createIncidenciaVoxiva">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createIncidenciaVoxivaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapaIncidenciaWebServiceService">
    <wsdl:port name="MapaIncidenciaWebServicePort" binding="tns:MapaIncidenciaWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/MapaIncidenciaWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
